ul{
    list-style-type: none;
    background-color: navy;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    margin-bottom: -1px;
}
ul li{
    display: inline;
    padding-right: 1rem;
}

ul li:nth-child(6){
    float: right;
    background-color: #f1c61a;
    border-style: solid;
    border-style: groove;
    font-size: 23px;
    font-weight: bolder;
    padding-right: 20px;
    color: #000;
}
.divv{
    background-image: url(./imagePix/Corporate\ business\ image.jpg);
    background-size: cover;
    background-color: rgb(53, 49, 49);
    text-align: center;
    padding-top: 250px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: #fff;
    height: 600px;
    background-blend-mode: soft-light;
}